<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8"/>
</head>
<body>
<div>
    <div>Добрый день!</div>
    <div>Завершено тестирование {{PROJECT_NAME}} автотестами.</div>
    <br>
    <div>Группа тестов: {{GROUP}}</div>
    <div>Стенд: {{URL}}</div>
    <br>
    <div>Результат тестирования: <b>{{RESULT}}</b></div>
    <div>Успешно: <b>{{SUCCESSES_COUNT}}</b></div>
    <div>Ошибок: <b>{{ERROR_COUNT}}</b></div>
    <div>Пропущено: <b>{{SKIP_COUNT}}</b></div>
    <br>
    <a href="{{RELEASE_URL}}">Сборка релиза в TFS</a>
    <br>
    <a href="{{REPORT_URL}}">Отчет тестирования</a>
    <hr>
    <i>Сообщение сформировано автоматически. Не отвечайте на него.</i>
</div>
</body>
</html>
